/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;600&family=Montserrat+Subrayada&display=swap');

body {
    font-family: 'Assistant', sans-serif;
}

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
}

h2{
    font-family: 'Montserrat Subrayada', sans-serif;
}
header, section {
    padding: 20px;
}
p, li {
    line-height: 1.5em;
}

#inspiration {
    background-color: #F0F0F0;
    padding-top: 40px;
    padding-bottom: 40px;
}
